.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hero img{
    margin-top: 50px;;

}

.hero h1{
    text-align: center;
    width: 55%;
    font-size: 50px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(267deg, #c1ff80  0.36%, #01b607  102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 40%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.hero-actions{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 15px 25px;
    border-radius: 50px;
    background: linear-gradient(267deg, #56a500  0.36%, #004202  102.06%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}

.hero-resume{
    padding: 14px 60px;
    border-radius: 50px;
    border: 3px solid #fff;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: #01b607;
}