.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.navMenu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.navMenu li img{
    display: flex;
    margin: auto;
}

.nav-connect{
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    background: linear-gradient(267deg, #5fb601  0.36%, #004202  102.06%);
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
    background: linear-gradient(267deg, #47801c  0.36%, #002200  102.06%);
}

.img{
    transition: 0.5s;
}
.img:hover{
    transform: scale(1.5);
}

.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        /* margin: 20px 50x; */
        margin: 20px 10px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 280px;
        width: 30px;
    }
    .navMenu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #002200;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .navMenu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

}